@model MiniTools.Web.Models.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1 class="display-4">Login xxx</h1>

    @Model.Username

    @Model.Password

</div>

<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">

asd

        </div>
        <div class="col"></div>
    </div>
</div>
