@model MiniTools.Web.Models.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1 class="display-4">Login</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">

            
            @if (ViewBag.Alert != null)
            {
            <div class="alert alert-danger" role="alert">
                @ViewBag.Alert
            </div>    
            }
            

            <form asp-controller="Login" asp-action="Index" method="post" asp-antiforgery="true">
                <div class="mb-3">
                    <label asp-for="Username" class="form-label">Username</label>
                    <input asp-for="Username" type="text" class="form-control" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">Your username not email!</div>
                </div>
                <div class="mb-3">
                    <label asp-for="Password" class="form-label">Password</label>
                    <input asp-for="Password" type="password" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary" name="Action" value="Log in">Log in</button>
            </form>


        </div>
        <div class="col"></div>
    </div>
</div>
