@{
    ViewData["Title"] = "Home Page";
}

<h1>@ViewData["Title"]</h1>

@if ((User.Identity != null) && (User.Identity.IsAuthenticated))
{
    <p>TODO: Add content here for authenticated users.</p>
}
else 
{
    <p>TODO: Content for unauthenticated users (guests).</p>
}
