@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>


<h2>Use Of Cookies</h2>

The Website uses "cookies" to help you personalize your online experience. <br/>
A cookie is a text file that is placed on your hard drive by a web page server. <br/>
Cookies cannot be used to run programs or deliver viruses to your computer. <br/>
Cookies are uniquely assigned to you, and can only be read by a web server in the domain that issued the cookie to you.<br/>


Most Web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. <br/>
If you choose to decline cookies, you may not be able to access all or parts of our Website or to fully experience the interactive features website you visit.

@*https://singaporelegaladvice.com/privacy-policy/*@