@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.panel {
    margin: 0.5rem 0;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 2em;
    line-height: 2em;
    background-color: floralwhite;
}

.current {
    font-weight: bold;
}