@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Edit link</h1>


<a asp-area="" asp-controller="Bookmark" asp-action="Index" class="btn btn-primary"><span class="bi-arrow-return-left"></span> List</a>