
<h1>Role Management</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Role</th>
            <th scope="col">Count</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

<div class="panel interactive">
    <a asp-area="" asp-controller="User" asp-action="Create" class="btn btn-primary"><span class="bi-plus-circle-fill"></span> Add user</a>
</div>
