@{
    ViewData["Title"] = "Test";
}

<div>
    <h1 class="display-4">Test 1</h1>
</div>

<form asp-controller="Demo" asp-action="Test1" method="post">
    <button type="submit" class="btn btn-primary">Test1</button>
</form>